$primary-color: rgb(104, 104, 104);
$secondary-color: rgb(255, 255, 255);
$accent-color: rgb(255, 63, 156);
$light-accent-color: rgb(255, 116, 183);
$lighter-accent-color: rgb(255, 213, 232);
$placeholder-color: rgb(211, 138, 181);
$text-color: rgb(134, 70, 109);
$player-color: rgb(255, 153, 202);
$mission-color: rgb(152, 152, 152);

$section-width: 95%;
$section-height: 85%;
$section-top: 105px;
$game-width: 100%;
$game-height: 100%;
$word-width: 70%;
$word-height: 20%;
$word-top: 80px;
$round-top: calc(#{$word-top} - 40px);
$round-left: 220px;
$typing-top: calc(#{$word-top} + #{$word-height} + 110px);
$typing-height: 10%;
$player-width: 230px;
$player-height: 260px;
$playerspace-top: calc(#{$typing-top} + 10% + 20px);

#Changed {
  display: none;
}

.Section {
  position: fixed;
  width: $section-width;
  height: $section-height;
  top: $section-top;
  background-color: $primary-color;
  border: 6px solid $secondary-color;
  border-radius: 20px;

  .Game {
    width: $game-width;
    height: $game-height;
    display: flex;
    justify-content: center;

    .round {
      position: absolute;
      display: flex;

      border-radius: 5px;

      top: $round-top;
      left: 50%;
      margin-left: calc(300px / -3);

      width: 300px;
      height: 20px;
    }

    .mission {
      position: relative;
      background-color: $mission-color;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.5) 7px 7px 10px inset;

      width: 10%;
      height: $word-height;
      top: $word-top;

      border: 4px solid $secondary-color;
      border-radius: 20px;

      margin-bottom: 20px;
      margin-right: 20px;

      color: white;

      .mission-text {
        font-size: 13pt;
        margin-bottom: 10px;
        font-weight: 100;
      }

      .mission-a {
        font-size: 30pt;
        font-weight: 600;
      }
    }

    .word {
      position: relative;
      background-color: $accent-color;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.5) 7px 7px 10px inset;
      width: $word-width;
      height: $word-height;
      top: $word-top;
      border: 4px solid $secondary-color;
      border-radius: 20px;
      margin-bottom: 20px;

      .text {
        color: $secondary-color;
        font-size: 50px;
      }

      .InTimebar,
      .Timebar {
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.5) 7px 7px 10px inset;
        width: 94%;
        height: 10%;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        border: 4px solid $secondary-color;
        border-radius: 20px;
      }

      .InTimebar {
        background-color: $light-accent-color;
      }

      .Timebar {
        background-color: $lighter-accent-color;
      }
    }

    .typing {
      position: fixed;
      background-color: $lighter-accent-color;
      width: 77.7%;
      height: $typing-height;
      text-indent: 10pt;
      top: $typing-top;

      &::placeholder {
        color: $placeholder-color;
      }

      color: $text-color;
      font-size: 33px;
      border: 4px solid $secondary-color;
      border-radius: 20px;
    }

    .playerspace {
      position: fixed;
      top: $playerspace-top;
      width: 77.7%;
      height: 20%;

      .player {
        position: fixed;
        background-color: $player-color;
        width: $player-width;
        height: $player-height;
        color: $secondary-color;
        font-size: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 10px;
        border: 4px solid $secondary-color;
        border-radius: 20px;
        padding-bottom: 12px;

        .image {
          position: absolute;
          top: 35px;
          width: 50%;
        }

        .score {
          font-size: 35pt;
        }

        .trueScore {
          font-size: 0px;
        }

        .name {
          font-family: sans-serif;
          font-size: 23pt;
        }
      }

      .me {
        display: flex;
      }

      .ai {
        display: flex;
        margin-left: 250px;
      }
    }
  }

  .resultScreen {
    position: absolute;
    background-color: rgb(255, 102, 168);

    display: none;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 80%;

    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 4px;

    margin-top: 50px;
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);

    .title {
      position: absolute;
      background-color: rgb(255, 53, 141);

      top: 0;

      display: flex;
      align-items: center;

      margin-top: 20px;

      border-radius: 20px;

      box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 2px;

      border: 2px solid rgb(255, 255, 255);

      width: 90%;
      height: 10%;

      .title-text {
        font-size: 20pt;
        color: white;
        margin-left: 10px;
      }
    }

    .note {
      position: absolute;
      background-color: rgba(255, 53, 141, 0);

      top: 0;

      display: flex;
      align-items: center;

      margin-top: 100px;

      border-radius: 20px;

      border: 2px solid rgb(255, 255, 255);

      width: 50%;
      height: 5%;

      color: white;

      .rank {
        margin-left: 18px;
        margin-right: 52px;
      }

      .player {
        margin-right: 64px;
      }
    }

    .list {
      position: absolute;

      margin-top: 130px;

      display: flex;
      flex-direction: column;

      width: 100px;

      top: 20px;
      left: 30px;

      .Listing {
        margin-bottom: 60px;

        @for $num from 1 through 8 {
          #rank-#{$num} {
            position: absolute;
            color: white;
            font-size: 25pt;
            margin-left: 110px;
            display: inline;
          }

          #name-#{$num} {
            position: absolute;
            color: white;
            font-size: 20pt;
            margin-left: 194px;
            margin-top: 3px;
            display: inline;
          }

          #score-#{$num} {
            position: absolute;
            color: white;
            font-size: 17pt;
            margin-left: 291px;
            margin-top: 7px;
            display: inline;
          }
        }
      }
    }

    .quit-button {
      position: absolute;
      background-color: rgb(255, 178, 211);

      bottom: 0;

      margin-bottom: 20px;

      border-radius: 20px;
      border: 2px solid white;

      width: 200px;
      height: 40px;

      color: black;

      font-size: 14pt;
    }
  }
}
